$backGr-main:#0a192f;
$fontColor-first: #ccd6f6;
$greencolor:#64ffda;
.container-fluid {
    .sidebarright {
        border: 2px solid red;
        height: 100vh;
        width: 4.4rem;
        position: sticky;
        left: 100vw;
        top: 0;
        background-color: rgba($backGr-main, 1);
        color: hsla(0, 0%, 100%, 1);
        overflow-x: hidden;
        padding: 0%;
        z-index: 1;
    }
}