<div class="mainnav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
            <img src="../../assets/image/newLogoGreen.png" alt="nazila-azabdaftar" class="d-inline-block align-text-center">
            <div class="navTxt"></div>
        </a>
        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



        <div class="collapse navbar-collapse ps-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link onhover" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skill" routerLinkActive="active">My Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="test">Projects</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end ps-5" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><span>&#60;</span>/Resume<span>&#62;</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact me</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://github.com/nazilaAz"><i class="bi bi-github"></i></a>
                </li> -->
            </ul>
        </div>
    </nav>
</div>