<div class="container text-center card-container2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        <div class="col" *ngFor="let item of courses">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/image/{{ item.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{item.name }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col" *ngFor="let itemf of frontend">
                <div class="card" style="width: auto; height: auto;">
                    <img src="../../assets/image/{{ itemf.img }}" class="card-img-topFront" alt="...">
                    <div class="card-body ">
                        <div class="progress" role="progressbar" attr.aria-valuenow="{{itemf.percent}}" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped" [style.width]="itemf.percent+'%'" [style.background-color]="itemf.color">{{itemf.percent}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="col" *ngFor="let itemb of backend">
                    <div class="card" style="width: auto; height: auto;">
                        <img src="../../assets/image/{{ itemb.img }}" class="card-img-topFront" alt="...">
                        <div class="card-body ">
                            <div class="progress" role="progressbar" attr.aria-valuenow="{{itemb.percent}}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped" [style.width]="itemb.percent+'%'" [style.background-color]="itemb.color">{{itemb.percent}}%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="col">
                    <div class="col" *ngFor="let itemc of vcontrol">
                        <div class="card" style="width: auto; height: auto;">
                            <img src="../../assets/image/{{ itemc.img }}" class="card-img-topFront" alt="...">
                            <div class="card-body ">
                                <div class="progress" role="progressbar" attr.aria-valuenow="{{itemc.percent}}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped" [style.width]="itemc.percent+'%'" [style.background-color]="itemc.color">{{itemc.percent}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>